#configure {
  .layers {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .layer {
      display: flex;
      flex-direction: column;
    }

    .neuron {
      display: flex;
      flex-direction: column;
    }
  }
}